.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;

  &:hover {
    background-color: #99a8b2;
    opacity: 0.9;
  }

  & .sidebarOptionIcon {
    font-size: 15px;
    padding: 10px;
  }

  & h3 {
    font-weight: 500;
    padding: 10px 0;
  }
  & span {
    font-size: 15px;
    padding: 10px;
  }
}
